# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# Virtual environment
venv/

# Environment variables
.env

# VSCode settings (optional)
.vscode/

# macOS files
.DS_Store

# Logs and temporary files
*.log
*.tmp
*.swp

# Jupyter Notebook checkpoints (if any)
.ipynb_checkpoints/
